@import "../../../Styles/variables";

.addExpense-form {
  input,
  select {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 2%;

    &:focus {
      border-color: $primary-color;
    }
  }
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
.addExpense-window-container {
  margin-right: 2%;
  padding: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  select {
    margin-left: 2%;
    padding: 2%;
  }
}
.input-div {
  display: flex;
  flex-direction: row;
}
