.header-container {
  display: flex;
  align-items: center;
  h1 {
    font-size: 3.5em;
  }
  img {
    width: 100%;
  }
}
.header-content {
  margin-left: 3%;
  margin-right: 3%;
}
@media (max-width: 590px) {
  .header-container {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 2em;
    }
    img {
      margin-top: 5%;
    }
  }
}
